<div class="penBody">
    <form action="" method="post">
        <select id="penPost">
            <option value="total">Total</option>
            <option value="year">Year</option>
            <option value="month">Month</option>
            <option value="week">Week</option>
            <option value="today">Today</option>
        </select>
    </form>
</div>  